
.options-menu .items-outer-wrapper {
    box-sizing: border-box;
    top: 43px;
    left: -83px;
}

.options-menu-btn {
    font-size: 12px;
    color: #8e8e8e;
    padding: 8px;
}
.options-menu-btn:hover {
    background-color: #E4E4E4;
}

.options-menu .triangle-border-up {
    right: 90px;
}